* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(63, 63, 204, 1) 41%,
      rgba(0, 212, 255, 1) 100%
    );
  } */
}
.title {
  /* text-align: center; */
}